body {
  background-color: #c3cac2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  padding: 10px;
  list-style: none;
  text-align: center;
  border: 1px solid rgb(207, 205, 205);
  width: 300px;
  background-color: rgb(232, 227, 227);
}

ul li:hover {
  background-color: rgb(216, 213, 216);
}

li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

main {
  display: flex;
}

h1 {
  text-align: center;
  padding: 10px;
}

header {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: rgb(203, 189, 189);
    color: white;
  }
}
